<html>
<head>
    <style>
        body {
            font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
            font-size: 12px;
        }
        form {
            width: 800px;
            margin: 0 auto;
            background-color: #f5f5f5;
            border: 1px solid #dddddd;
            border-radius: 2px;
            padding: 20px;
            text-align: right;
        }
        label {
            display: block;
            padding: 0 10px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #dddddd;;
        }
        input {
            /*float: right;*/
            width: 400px;
            padding: 4px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: #fff;
            margin-right: 200px;
            font-size: 11px;
        }
        h1, h2 {
            text-align: center;
        }
        button {
            font-size: 18px;
            padding: 5px;
            border-radius: 4px;
            background-color: #555;
            color: #fff;
        }
        p.info {
            width: 800px;
            padding: 20px;
            font-size: 11px;
            color: #ccc;
            text-align: center;
            margin: 10px auto;
        }
    </style>
</head>
<body>
    <form method="post" action="{{action}}">
        <h1>SQUIDLE+</h1>
        <h2>Framegrabber Settings</h2>
        {% for key, value in settings.items() %}
            <label>{{key}}: <input name="{{key}}" value="{{value}}"></label>
        {% endfor %}
        <button type="submit">SAVE!</button>
    </form>
    <p class="info">
        <b>*** EDITING HAS BEEN SWITCHED OFF UNTIL FURTHER TESTING ***</b><br>
        This process is independent to the main SQUIDLE+ installation but it is required for real-time frame capturing.
        Configure settings above, but please don't fiddle with things if you are not sure what you are doing.
        Any questions, please email: ariell@greybits.com.au.
    </p>
</body>
</html>
